body{margin:0px;font-size: 14px;font-family: verdana;}
#Main{
	height:160px;
	margin-left: 180px;
	margin-top: 30px;
width:1000px;
border-color:rgba(0,0,0,0.1);
border-style: solid;
border-width: 1px;
border-top-style:solid;
border-top-color:rgb(0,191,255);
}
p1
	{
	background-color:rgba(238,130,238,0.2);
	color:red;
	font-size: 18px;
	margin-left: 220px;
}
p{
	margin-left: 10px;
	position: absolute;
	top:26px;
}
#session{
height: 38px;
	border-top-style: solid;
border-top-width:2px;
border-color:black;
border-top-style:solid;
border-top-color:rgb(0,191,255);
 border-bottom-width: 4px;
 border-left-width:1px;
 border-right-width: 1px; 
border-bottom-color:orange;
border-bottom-style:solid;
 }
#inactivity{height: 90px;
	padding-top: 40px;}
	#login{margin-top: 10px;margin-right: 10px;}
a{border-width: 1px;
	border-style:solid;border-radius:5px; 
border-color:green;
background-color: rgba(34,139,34,0.7);
color:white;padding:5px;text-decoration-line: none;float:right;}	
